
**/.vscode
**/*.DS_Store
**/__pycache__
.mypy_cache
.tach
.venv
.hypothesis
public

docs/build/doctrees
docs/build/html
docs/build/latex
docs/htmlcov

# **/*.dot
# **/*.pdf
# **/*.svg

**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.toc
